@mixin button ($bg-colour, $colour, $hover-colour){
	background-color: $bg-colour;
	border-radius: 5px;
	padding: .75rem;
	display: block;
	text-decoration: none;
    text-transform: uppercase;
	color: $colour;
    margin: 2rem auto;
    text-align: center;
    width: 9rem;
	&:hover {
		background-color: $hover-colour;
	}
}

@mixin ease($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}