/* ---------- Type Scaled Using Perfect Fourths — 1.33 ---------- */

hr {
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: medium;
    color: $primary-colour;
}

p, ol, ul, table, h4, h5, h6, h7, h8, form {
    margin-left: auto;
	margin-right: auto;
    max-width: 60rem;
}

ol {
    li {
        display: inline-block;
        padding: .5rem;
    a {
        color: $primary-colour;
        text-decoration: none;
    }
    }
}

.simple-link, .simple-link a, .simple-link a:link, .simple-link a:active, .simple-link a:visited {
    text-decoration: inherit;
    color: inherit;
}
    

.text-link, .text-link a, .text-link a:link, .text-link a:visited {
    text-decoration: none;
    color: $primary-colour;
    font-weight: 800;
    &:hover {
    color: red;
    }
}

.statement {
    ul {
    list-style-image: url('../images/bullet.png');
    line-height: 1.5rem;
    padding-left: 3rem;
    text-align: justify;
    li {
    margin-bottom: 1rem;
    }
    }
}

p {
    text-align: justify;
    line-height: 1.5rem;
}

.white-text {
    color: white;
    padding: .5rem 9%;
    font-size: .9rem;
    text-align: justify;
}

.red-title {
    color: #FFF;
    background-color: $primary-colour;
    font-weight: 400;
    padding: .5rem;
}

table, th, td {
	padding: 2px;
    border: 1px solid #000;
}

table {
	margin: 1.5rem auto;
}

th {
	background-color: #000;
	color: #FFF;
    padding: 1.25rem;
    vertical-align: middle;
    line-height: 1.5rem;
}

td {
    color: $primary-colour;
    line-height: 1.5rem;
    text-align: justify;
    padding: 1rem;
    vertical-align: middle;
}


blockquote {
    padding-left: 1.5rem;
    border-left: 3px solid $primary-colour;
    border-right: 3px solid $primary-colour;
    height: 100%;
    width: 90%;
    margin: auto;
}

.banner {
    position: relative;
    z-index: -10;
}

.banner-small {
    position: relative;
}

.bannerquote {
    font-size: 1rem;
    color: $primary-colour;
    text-align: center;
    font-weight: 400;
    position: absolute;
    display: none;
}

 .bannerquote-small {
    font-size: 1.5rem;
    line-height:1.5rem;
    background-color: rgba(190, 30, 45, .5);
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: .5rem 0;
}

@media only screen and (min-width: 21em) {
     .bannerquote {
        font-size: 1.25rem;
        padding: .5rem 0;
        background-color: rgba(190, 30, 45, .5);
        color: white;
        bottom: 0;
        display: block;
        width: 100%;
    }
    
}

@media only screen and (min-width: 34em) {
     .bannerquote {
        font-size: 1.5rem;
        padding: 1rem 0;
    }
     
     .white-text {
        padding-top: 5%;
    }
    
}

@media only screen and (min-width: 44em) {
     .bannerquote {
        font-size: 2rem;
        padding: 1rem 0;
    }
    
    .white-text {
        padding-top: 3%;
        font-size: 1rem;
    }
    
}

@media only screen and (min-width: 56em) {
    .white-text {
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding: auto;
    }
}

@media only screen and (min-width: 65em) {
    .bannerquote {
        font-size: 2.5rem;
        padding: 1rem 0;
        font-weight: 400;
    }
    
    .white-text {
        font-size: 1.5rem;
        padding: 3% 8%;
        line-height: 2rem;
    }
}

@media only screen and (min-width: 76em) {
    .white-text {
        font-size: 1.7rem;
        line-height: 2.25rem;
    }
}

blockquote footer {
  margin-top: -1.5rem;
  text-align: right;
}

@media only screen and (min-width: 45em) {
    blockquote {
        width: 40rem;
    }
}

.yotta {
  font-size: 7.4784rem;
  line-height: 1.0029;
}

.zetta {
  font-size: 5.6102rem;
  line-height: 1.0695;
}

h1, .exa {
  font-size: 2rem;
  line-height: 1.0692;
}

h2, .peta {
  font-size: 3.1573rem;
  line-height: 1.4253;
  text-align: center;
}

h3, .tera {
  font-size: 2.3686rem;
  line-height: 1.2666;
  text-align: center;
  color: $primary-colour;
}

h4, .giga {
  font-size: 1.7769rem;
  line-height: 1.6883;
}

h5, .mega {
  font-size: 1.3330rem;
  line-height: 1.1253;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
  color: #747474;
  font-weight: 400;
}

small, .milli {
  font-size: 0.7502rem;
  line-height: 1.9995;
}

.micro {
  font-size: 0.5628rem;
  line-height: 2.6653;
}

sub,
sup {
  font-size: 75%;
  line-height: 1px;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
	text-align: justify;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.push-top-0 {
    margin-top: 0;
}

.push {
  margin-bottom: 1.5rem;
}

.push-none, .push-0 {
  margin-bottom: 0;
}

.push-double, .push-2 {
  margin-bottom: 3.0000rem;
}

.push-half, .push-1-2 {
  margin-bottom: 0.7500rem;
}

.pad-top, .pad-t {
  padding-top: 1.5rem;
}

.pad-bottom, .pad-b {
  padding-bottom: 1.5rem;
}

.pad-top-double, .pad-t-2 {
  padding-top: 3.0000rem;
}

.pad-top-triple, .pad-t-3 {
  padding-top: 4.5rem;
}

.pad-bottom-double, .pad-b-2 {
  padding-bottom: 3.0000rem;
}

.pad-top-half, .pad-t-1-2 {
  padding-top: 0.7500rem;
}

.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.7500rem;
}

.island {
  padding: 1.5rem;
}

.island-half, .island-1-2 {
  padding: 0.7500rem;
}

.island-double, .island-2 {
  padding: 3.0000rem;
}

.gutter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gutter-half, .gutter-1-2 {
  padding-left: 0.7500rem;
  padding-right: 0.7500rem;
}

.gutter-double, .gutter-2 {
  padding-left: 3.0000rem;
  padding-right: 3.0000rem;
}

.gutter-large {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

@media only screen and (min-width: 34em) {

    .gutter-large {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}