<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="UTF-8">
	<title>{{page.title}} · 4 Paws for Ability</title>
	<link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="4 Paws for Ability enriches the lives of children with disabilities by training and placing quality, task-trained service dogs. This provides increased independence for the children, and assistance to their families. And 4 Paws also works with veterans from recent conflicts who’ve lost the use of their limbs or their hearing while in active combat. In all cases, the results speak for themselves.">
	<meta name="keywords" content="4 Paws for Ability, service dogs, children assistance">
</head>
<body>
	
	<header class="masthead">
        <a href="{{site.baseurl}}/"><img class="nav-logo" src="{{site.baseurl}}/images/svg/logo-main.svg" alt="4 Paws Logo"></a>

        <nav>
            <h2 class="kilo"><a class="simple-link" href="{{site.baseurl}}/">4 Paws for Ability</a></h2>
            <a href="{{site.baseurl}}/" class="nav-btn hide-text" data-state="inactive"></a>
			<ul class="nav nav-top" data-state="collapsed">
				<li><a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a></li>
				<li><a class="{% if page.url == '/service-dogs/' %}current{% endif %}" href="{{site.baseurl}}/service-dogs">Service Dogs</a></li>
				<li><a class="{% if page.url == '/help-us/' %}current{% endif %}" href="{{site.baseurl}}/help-us">Help Us</a></li>
                <li><a class="{% if page.url == '/blog/' %}current{% endif %}" href="{{site.baseurl}}/blog">Blog</a></li>
				<li><a class="{% if page.url == '/contact/' %}current{% endif %}" href="{{site.baseurl}}/contact">Contact</a></li>
				<li class="donate"><a class="{% if page.url == '/donate/' %}current-donate{% endif %}" href="{{site.baseurl}}/donate">Donate</a></li>
			</ul>
            <a href="{{site.baseurl}}/donate" class="donate-btn kilo bold">Donate</a>
		</nav>
        
         <div class="trap"></div>
        
	</header>

        {{content}}
		 
    <footer class="bottom">
        
        <ul class="social">
            <li>
                <a href="#">
                    <i class="fa fa-facebook"></i>
                    <span class="milli bold">Facebook</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                    <span class="milli bold">Twitter</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-pinterest-p"></i>
                    <span class="milli bold">Pinterest</span>
                </a>
            </li>
        </ul>  
        

        <ul class="footer-info">
            <li><h5>mailing <br> address</h5>
                <p>4 Paws For Ability</p>
                <p>253 Dayton Ave.</p>
                <p>Xenia, Ohio 45385</p></li>
            <li><h5>visit <br> us</h5>
                <p>207 Dayton Ave.</p>
                <p>Xenia, Ohio 45385</p></li>
            <li><h5>email <br> us</h5>
                <p>info@4pawsforability.com</p></li>
            <li><h5>call <br> us</h5>
                <p>(937) 374-0385</p></li>
         </ul>
        
    </footer>
    
    <script src="{{site.baseurl}}/js/nav.js"></script>
</body>
</html>